<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Prueba</title>
    </head>
    <body>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.genbeta.com%2Fa-fondo%2Fstable-diffusion-guia-a-fondo-que-como-usarlo-ejemplos-como-generar-imagenes-frase&psig=AOvVaw3EIkraGI5NQWp6oZMGE8S_&ust=1709332042383000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJD_7N_M0YQDFQAAAAAdAAAAABAD" alt="Imagen prueba" width="50%" height="auto">
     </body>   
</html>
 
